<html>
    <head>
        <title>ДБ</title>
    </head>

    <body>
<!--Header menu-->
        <table width="80%" height="5%" align="center" valign="top">
            <td>
                Універ БД!
            </td>
            <td>
                <a href="/">Головна</a>
            </td>
            <td>
                <a href="/univers">Університети</a>
            </td>
            <td>
                <a href="/students">Студенти</a>
            </td>
            <td>
                <a href="/add">Додати</a>
            </td>
            <td>
                <form name="search_f" valign="bottom" action="/search/">
                   <input type="text" name="search_box" formmethod="GET" valign="bottom" value="Пошук..." 
                        onblur="if (this.value == '') {this.value = 'Пошук...';}"
                        onfocus="if (this.value == 'Пошук...') {this.value = '';}"/>
                </form>
            </td>
        </table>
<br>

<!--Main body renderer part-->
        <table item-width="60%" align="center" valign="top" height=80%>
            <td>
                {% if students_list %}
                    <ul>
                    {% for student in students_list %}
                        <li><a href="/{{ student.id }}/">{{ student }}</a></li>
                    {% endfor %}
                    </ul>
                {% elif univers_list %}
                    <ul>
                    {% for univer in univers_list %}
                        <li><a href="/u/{{ univer.id }}">{{ univer }}</a></li>
                    {% endfor %}
                    </ul>
                {% elif stud_personal %}
                    <b>{{ stud_personal.s_name }} {{ stud_personal.s_las_name }}</b><br>
                    Навчається у {{ stud_personal.s_university }}<br>
                    На кафедрі {{ stud_personal.s_cathedra }}<br>
                    Вивчає {{ stud_personal.s_disciplins}}<br>
                    Телефон: {{ stud_personal.s_phone }}<br>
                    E-mail: <a href=mailto:{{ stud_personal.s_email }}>{{ stud_personal.s_email}}</a>
                {% elif search_form %}
                    {% if search_form != None %}
                        {% for student in search_form.iterator %}
                            <li><a href="/{{ student.id }}/">{{ student }}</a></li>
                        {% endfor %}
                    {% else %}
                        <b>Нічого не знайдено.</b>
                    {% endif %}
                {% elif add_form %}
                    {{ add_form }}
                {% else %}
                    <p><b>Ласкаво просимо!</b></p>
                    Оберіть опцію з меню.
                {% endif %}
            </td>
        </table>
<br>

<!--Footer-->
        <table valign="bottom" align="center" height="5%">
            <td>
                Copyright (C) <a href="https://github.com/35359595/django_university">Ivan Temchenko</a> 2016.
            </td>
        </table>

    </body>
</html>